---
import Layout from "../layouts/Layout.astro";
import ShopItem from "../components/shop-item.astro";
import { Cart } from "../components/cart";
---

<Layout>
  <div class="shop">
    <h1>Sandwich shop kits</h1>
    <noscript>
      <p>javascript is required to purchase things.Please email us for help.</p>
    </noscript>
    <div class="products">
      <ShopItem addtocart={true} />
      <Cart client:only="solid-js" />
    </div>
  </div>
</Layout>

<style>
  .shop {
    padding: 3rem 5%;
  }

  .products {
    align-items: flex-start;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 260px;
    position: relative;
  }
</style>
